<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projet Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
            <a class="navbar-brand" href="/">Projet Contact</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Liste des contacts <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add">Ajouter un contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add/adress">Ajouter une adresse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/xml?action=listContacts">Export en XML</a>
                    </li>
                </ul>
                <form th:action="@{/logout}" method="post" th:if="${isConnected}" class="form-inline" >
                    <input class="form-control btn btn-outline-light" type="submit" value="Se déconnecter"/>
                </form>
            </div>
        </nav>
        <div id="container">
            <table class="table w-75 m-auto">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Identifiant</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="e : ${allContactList}">
                        <th scope="row" th:text="${e.getId()}"></td>
                        <td th:text="${e.getFirstName()}"></td>
                        <td th:text="${e.getLastName()}">@mdo</td>
                        <td>
                            <a th:href="@{${'/user/detail/' + e.getId()}}">
                                <button type="button" class="btn btn-dark">Détails</button>
                            </a>
                            <a th:href="@{${'/user/edit/' + e.getId()}}">
                                <button type="button" class="btn btn-dark">Modifier</button>
                            </a>
                            <a th:href="@{${'/user/delete/' + e.getId()}}">
                                <button type="button" class="btn btn-dark">Supprimer</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>